.color-me.green {color: #009933; border: 1px solid #009933;}
.color-me.blue {color: #0000ff; border: 1px solid #0000ff;}
.color-me.grey {color: #808080; border: 1px solid #808080;}
.color-me.orange {color: #ff9900; border: 1px solid #ff9900;}
.color-me.red {color: #ff0000; border: 1px solid #ff0000;}
